---
import type { SkillGroup } from '../data/cv';

interface Props {
  groups: SkillGroup[];
}
const { groups } = Astro.props;
---

<div class="skillset">
  {
    groups.map((g) => (
      <div class="skillset-group">
        <h3 class="skillset-label">{g.label}</h3>
        <ul class="skillset-list">
          {g.items.map((it) => (
            <li>{it}</li>
          ))}
        </ul>
      </div>
    ))
  }
</div>
